.showOffer{
text-decoration: none;
font-weight: bold;
color: black;
    .icon{
        border:.1rem solid rgb(85, 215, 255);
        border-radius: 50%;
        color: rgb(85, 215, 255);
        font-size: .5rem;
        width: 5rem;
        height: 5rem;
    }
}
