.nextButton{
    background-color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: absolute;
    z-index: 100000000;
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: 1.6rem;
}