.prevButton{
        background-color: white;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        position: absolute;
        z-index: 1000000000;
        bottom: 1.5rem;
        right: 1.5rem;
        margin-right: 3rem;
}