.topSwiper{
    .swiper{
        transition:all 3s ease;
        position: relative;
        .swiperSlideTop{
            height: 50rem;
        }
        .swipperImage{
            width: 100%;
            height: 100%;
        }
        .buttons{
            transition: all .3s ease-out;
            opacity: 0;
        }

        &:hover .buttons{
           opacity: 100;
        }
    }
}